{
    AppleSymbolicHotKeys =     {
        118 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    18,
                    262144
                );
                type = standard;
            };
        };
        15 =         {
            enabled = 0;
        };
        16 =         {
            enabled = 0;
        };
        163 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        164 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        17 =         {
            enabled = 0;
        };
        175 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        18 =         {
            enabled = 0;
        };
        19 =         {
            enabled = 0;
        };
        190 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    113,
                    12,
                    8388608
                );
                type = standard;
            };
        };
        20 =         {
            enabled = 0;
        };
        21 =         {
            enabled = 0;
        };
        22 =         {
            enabled = 0;
        };
        222 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        23 =         {
            enabled = 0;
        };
        233 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    109,
                    46,
                    1048576
                );
                type = standard;
            };
        };
        235 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        237 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    102,
                    3,
                    8650752
                );
                type = standard;
            };
        };
        238 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    99,
                    8,
                    8650752
                );
                type = standard;
            };
        };
        239 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    114,
                    15,
                    8650752
                );
                type = standard;
            };
        };
        24 =         {
            enabled = 0;
        };
        240 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    123,
                    8650752
                );
                type = standard;
            };
        };
        241 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    124,
                    8650752
                );
                type = standard;
            };
        };
        242 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    126,
                    8650752
                );
                type = standard;
            };
        };
        243 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    125,
                    8650752
                );
                type = standard;
            };
        };
        244 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        245 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        246 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        247 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    65535,
                    0
                );
                type = standard;
            };
        };
        25 =         {
            enabled = 0;
        };
        26 =         {
            enabled = 0;
        };
        31 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    52,
                    21,
                    1441792
                );
                type = standard;
            };
        };
        32 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    126,
                    8650752
                );
                type = standard;
            };
        };
        33 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    125,
                    8650752
                );
                type = standard;
            };
        };
        36 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    100,
                    2,
                    524288
                );
                type = standard;
            };
        };
        37 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    100,
                    2,
                    655360
                );
                type = standard;
            };
        };
        60 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    32,
                    49,
                    262144
                );
                type = standard;
            };
        };
        61 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    32,
                    49,
                    786432
                );
                type = standard;
            };
        };
        64 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    32,
                    49,
                    1048576
                );
                type = standard;
            };
        };
        79 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    123,
                    8650752
                );
                type = standard;
            };
        };
        80 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    65535,
                    123,
                    8781824
                );
                type = standard;
            };
        };
        81 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    65535,
                    124,
                    8650752
                );
                type = standard;
            };
        };
        82 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    65535,
                    124,
                    8781824
                );
                type = standard;
            };
        };
        98 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    47,
                    44,
                    1179648
                );
                type = standard;
            };
        };
    };
}
