{
    "NSStatusItem Preferred Position Item-0" = 6017;
    "NSStatusItem Visible Item-0" = 1;
    "__NSEnableTSMDocumentWindowLevel" = 1;
    "engagementCount-com.apple.Spotlight" = 6;
    "engagementCountForDate-com.apple.Spotlight" = 2;
    "engagementDate-com.apple.Spotlight" = "2025-05-06";
    lastVisibleScreenRect = "{{0, 0}, {1728, 1085}}";
    lastWindowPosition = "{{653, 238}, {600, 430}}";
    showedFTE = 1;
    startTime = "778233779.555186";
    useCount = 3;
    userHasMovedWindow = 1;
}
