{
    AudioEffectSelectedProfile = 0;
    ILMediaBrowserExpandedGroups2 =     (
        "com.apple.iMovie.iMovie",
        "com.apple.iLifeMediaBrowser.MoviesFolder./Users/anshul/Movies"
    );
    ILMediaBrowserMediaType = 2;
    ILMediaBrowserMovieSplitViewPosition = 140;
    NSNavPanelExpandedSizeForOpenMode = "{800, 484}";
    NSNavPanelMediaBrowserTypeForOpenModeKey = 2;
    NSOSPLastRootDirectory = {length = 748, bytes = 0x626f6f6b ec020000 00000410 30000000 ... 8c010000 00000000 };
    "NSOutlineView Items mainwindow-sidebar" =     (
        mycomputer,
        library,
        localnetwork,
        internet
    );
    "NSSplitView Subview Frames mainWindowSplitView" =     (
        "0.000000, 0.000000, 238.000000, 297.000000, NO, NO",
        "239.000000, 0.000000, 477.000000, 297.000000, NO, NO"
    );
    "NSSplitView Subview Frames prefsSplitView" =     (
        "0.000000, 0.000000, 163.000000, 395.000000, NO, NO",
        "172.000000, 0.000000, 563.000000, 395.000000, NO, NO"
    );
    "NSStatusItem Preferred Position statusBarItem" = 5945;
    "NSWindow Frame NSNavPanelAutosaveName" = "348 341 800 484 0 0 1496 939 ";
    "NSWindow Frame VLCFullscreenControls" = "661 121 483 84 0 0 1728 1085 ";
    "NSWindow Frame mainwindow" = "470 169 716 361 0 0 1728 1085 ";
    "NSWindow Frame open" = "355 306 602 415 0 0 1312 824 ";
    "NSWindow Frame prefs" = "360 319 775 513 0 0 1496 939 ";
    "NSWindow Frame sprefs" = "526 186 580 648 0 0 1496 939 ";
    PlaylistColumnSelection =     (
                (
            status,
            18
        ),
                (
            name,
            363
        ),
                (
            artist,
            42
        ),
                (
            duration,
            42
        )
    );
    SUEnableAutomaticChecks = 1;
    SUHasLaunchedBefore = 1;
    SULastCheckTime = "2025-08-24 07:03:44 +0000";
    SUSendProfileInfo = 0;
    VLCFirstRun = "2025-04-22 21:59:09 +0000";
    VLCFullscreenAssociatedWindowRect = "{{0, 0}, {1496, 967}}";
    VLCPreferencesVersion = 4;
    VideoEffectSelectedProfile = 0;
    recentlyPlayedMedia =     {
        "file:///Users/anshul/C/Downloads/temp/Leolulu and Ellieleen threesome Lulu teaches EllieLeen some french and shares Lulus baguette 1080p - camHUBcc.mp4" = 547;
        "file:///Users/anshul/C/Downloads/temp/Trippie Bri OnlyFans First Ever Threesome.mp4" = 624;
        "file:///Users/anshul/C/Downloads/temp/sissy-moore-filthy-shower-fuck-in-4k_2160p.mp4" = 276;
        "file:///Users/anshul/C/Downloads/virtual508_2160p.mp4" = 233;
        "file:///Users/anshul/C/Soulseek/complete/yo/BLACKEDRAW Brunette Babe Gets Fucked Senseless by Dominant BBC .mp4" = 767;
        "file:///Users/anshul/Downloads/1080.mp4" = 1074;
        "file:///Users/anshul/Downloads/1709740_2160m.mp4" = 784;
        "file:///Users/anshul/Downloads/19272_1080p.mp4" = 1561;
        "file:///Users/anshul/Downloads/2160.mp4" = 423;
        "file:///Users/anshul/Downloads/6098851f48e36.mp4" = 173;
        "file:///Users/anshul/Downloads/EPORNER.COM - [Sfm4SOjnGnL] 2025-115 (2160).mp4" = 440;
        "file:///Users/anshul/Downloads/EPORNER.COM - [oCU4bxZnQP7] Dakota Tyler (2160).mp4" = 1928;
        "file:///Users/anshul/Downloads/hazel-moore-taking-my-stepdaughter-s-ass-2_2160p.mp4" = 381;
        "file:///Volumes/Seagate Portable Drive/GoPro/100GOPRO/GX020411.MP4" = 168;
        "file:///Volumes/Seagate Portable Drive/GoPro/100GOPRO/GX030411.MP4" = 212;
        "file:///Volumes/Seagate Portable Drive/MACTRANSFER/Downloads/Gabbie Carter - PRNWRLD 4K/Gabbie Carter - PRNWRLD 4K.mp4" = 602;
        "file:///Volumes/Seagate Portable Drive/MACTRANSFER/Downloads/KaggleDataSet1/Jia Lissa and Ellie Leen - A Time And Place - Vixen.mp4" = 1390;
    };
    recentlyPlayedMediaList =     (
        "file:///Users/anshul/Downloads/hazel-moore-taking-my-stepdaughter-s-ass-2_2160p.mp4",
        "file:///Users/anshul/C/Soulseek/complete/yo/BLACKEDRAW Brunette Babe Gets Fucked Senseless by Dominant BBC .mp4",
        "file:///Users/anshul/C/Downloads/temp/Trippie Bri OnlyFans First Ever Threesome.mp4",
        "file:///Users/anshul/Downloads/2160.mp4",
        "file:///Users/anshul/C/Downloads/virtual508_2160p.mp4",
        "file:///Volumes/Seagate Portable Drive/GoPro/100GOPRO/GX020411.MP4",
        "file:///Volumes/Seagate Portable Drive/MACTRANSFER/Downloads/Gabbie Carter - PRNWRLD 4K/Gabbie Carter - PRNWRLD 4K.mp4",
        "file:///Users/anshul/C/Downloads/temp/sissy-moore-filthy-shower-fuck-in-4k_2160p.mp4",
        "file:///Volumes/Seagate Portable Drive/GoPro/100GOPRO/GX030411.MP4",
        "file:///Users/anshul/C/Downloads/temp/Leolulu and Ellieleen threesome Lulu teaches EllieLeen some french and shares Lulus baguette 1080p - camHUBcc.mp4",
        "file:///Users/anshul/Downloads/1709740_2160m.mp4",
        "file:///Users/anshul/Downloads/EPORNER.COM - [oCU4bxZnQP7] Dakota Tyler (2160).mp4",
        "file:///Users/anshul/Downloads/19272_1080p.mp4",
        "file:///Users/anshul/Downloads/1080.mp4",
        "file:///Users/anshul/Downloads/6098851f48e36.mp4",
        "file:///Users/anshul/Downloads/EPORNER.COM - [Sfm4SOjnGnL] 2025-115 (2160).mp4",
        "file:///Volumes/Seagate Portable Drive/MACTRANSFER/Downloads/KaggleDataSet1/Jia Lissa and Ellie Leen - A Time And Place - Vixen.mp4"
    );
}
